 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="light-bar">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                  <h3>Overview</h3>
                    <p>I am a freelance web developer and software engineer with a B.Sc in computing science. I specialize in developing modern maintainable WordPress websites for businesses looking to build a stronger web presence. I have been fortunte to have had experience in all the layers of the computing science dicapline. All the way from designing web pages to programming microcontrollers. I look forward to learning new technologies and working on new projects.</p>
                </div>
                <div class="col-lg-6">
                  <h3>Technical Skills</h3>
                    <ul style="font-size: 20px;">
                      <style> li {padding: 12px;}</style>
                      <li>Programming: Java, C, C++, C#, SQL</li>
                      <li>Web and Scripting: HTML5, CSS3, JavaScript, Rails, Bash</li>
                      <li>Operating Systems: Linux, OS X, Windows</li>
                      <li>IDE Software: Git, Net Beans, Eclipse, Visual Studio</li>
                    </ul>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Read More
                    </a>
                </div> -->
            </div>
        </div>
    </section>
