 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a freelance web developer and software engineer with a B.Sc in computing science. I specialize in developing modern maintainable WordPress websites for businesses looking to build a stronger web presence.  I have created software in a variety of languages, including Java, C, C++, and C#, just to name a few.</p>
                </div>
                <div class="col-lg-4">
                    <ul style="font-size: 20px;">
                      <style> li {padding: 12px;}</style>
                      <li>Websites</li>
                      <li>Web Projects</li>
                      <li>Software Projects</li>
                      <li>Guides</li>
                    </ul>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Read More
                    </a>
                </div> -->
            </div>
        </div>
    </section>
