 <!-- Portfolio Modals -->
 {% for post in site.categories.WebDevelopment  %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                          <div class="row">
                            <h2>{{ post.title }}</h2>
                            <hr>
                            <div class="col-md-4 portfolio-item" id="portfolio">
                              <a href="{{ post.website }}" class="portfolio-link-img" target="_blank">
                                  <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                              </a>
                            </div>
                            <div class="col-md-8 text-left">
                              <p>{{ post.description }}</p>
                            </div>
                          </div>
                          <div class="row">
                            <img src="img/portfolio/{{ post.screenshot }}" class="img-responsive img-centered light-shadow" alt="{{ post.alt }}-screenshot">
                          </div>
                            <ul class="list-inline item-details">
                                <li>Website:
                                    <strong><a href="{{ post.website }}" target="_blank">{{ post.title }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                  {% for category in post.categories %}
                                    <strong>{{ category }}</a>
                                    </strong>
                                    {% endfor %}
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
